{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Statalog - the catalog of data & studies, created by you!</title>
  <link rel="shortcut icon" href="img/logo_primary.png"><!-- Favicon-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,500,600" rel="stylesheet">
  <meta property="og:image" content="https://Statalog.com/img/logo.png">
  <meta property="og:url" content="https://Statalog.org/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Statalog | the free catalog of data & studies, created by you!" />
  <meta property="og:description" content="Everybody can share data & studies, we all benefit from sharing. Together, we can accomplish more." />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@vicki_langer" />
  <meta name="twitter:title" content="Statalog | the free catalog of data & studies, created by you!" />
  <meta name="twitter:description" content="Everybody can share data & studies, we all benefit from sharing. Together, we can accomplish more." />
  <meta name="twitter:image" content="https://Statalog.org/img/logo.png">
  <meta name="author" content="Vicki Langer">
  <meta name="description" content="Invigorating access to reliable case studies, infographics, stats, facts, and figures.">
  <meta name="keywords" content="stats, statistics, data, metrics, case study">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
  <script src="https://use.fontawesome.com/644443b801.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script> -->
</head>



<body>

  {% include 'navbar.html' %}

  <main>
    <div class="container has-text-centered">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  {% include 'footer.html' %}
</body>