<footer class="footer">
  <div class="container is-fluid">
    <div class="columns">

      <div class="column">
        <h4>Awesomeness</h4>
        <!--why is this heading acting weird af?!-->
        <ul>
          <li><a href="{{ 'integrations' }}">Integrations</a></li>
          <li><a href="{{ 'how' }}">How To...</a></li>
          <li><a href="{{ 'blog' }}">Blog</a></li>
          <li><a href="{{ 'Dev' }}">Developers Tools</a></li>
        </ul>
      </div>

      <div class="column">
        <h4>Talk To Us</h4>
        <ul>
          <li><a href="{{ 'FAQ' }}"><span class="icon-help"></span> Check the FAQ</a></li>
          <li><a href="mailto:hello@Statalog.Org"><span class="icon-mail"></span> Hello@Statalog.Org</a></li>
          <li><span class="icon-location"></span> 450 Design Ave, WS, NC</li>
        </ul>
      </div>

      <div class="column">
        <h4>Stay Involved</h4>
        <ul>
          <li><a href="{{ 'labs' }}">Labs</a></li>
          <li><a href="https://statalog.slack.com">Chat</a></li>
          <li><a href="{{ 'partners' }}">Partners</a></li>
          <li><a href="https://angel.co/statalog/Jobs">Careers & Jobs</a></li>
        </ul>
        <span class="icon-rss"></span>
      </div>
    </div>

    <div>
      <p class="content has-text-centered"> Statalog - Together, we will accomplish more. © 2019 | <a href="{{ 'about' }}" alt="about us">About Us</a> | <a href="{{ 'legal' }}" alt="privacy policy and terms of use"><span class="icon-lock"></span>Legal Stuff</a></p>
    </div>

</footer>